.outlined {
    color: var(--foreground);
    background: none;
    padding: 4px 16px;
    outline: 1px solid var(--accent);
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: var(--animation);

    &:hover {
        color: var(--background);
        background: var(--foreground);
    }

    &:active {
        color: var(--background);
        background: var(--secondary);
    }

    &:focus {
        color: var(--background);
        background: var(--secondary);
        outline: 2px solid var(--accent);
    }
}
