.outlined {
    color: var(--primary-color);
    background: none;
    padding: 4px 16px;
    outline: 1px solid var(--accent-color);
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: var(--animation);

    &:hover {
        color: var(--bg-color);
        background: var(--primary-color);
    }

    &:active {
        color: var(--bg-color);
        background: var(--secondary-color);
    }

    &:focus {
        color: var(--bg-color);
        background: var(--secondary-color);
        outline: 2px solid var(--accent-color);
    }
}
