.MainSlide {
    padding: 20px;
    position: relative;
}

.title {
    margin-top: 160px;
    background: linear-gradient(var(--foreground), var(--secondary), var(--background));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 900px) {
        margin-top: 70px;
    }
}

.desc {
    margin-left: 10px;
    color: var(--secondary);
}

.chart {
    position: absolute;
    right: 0;
    top: 35%;

    @media (max-width: 670px) {
        display: none;
    }
}
