.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

.opened {
    opacity: 1;
    z-index: var(--modal-z-index);
}
