@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset";
@import "../../globals.css";

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Inter", "Times New Roman", serif;
    overflow-x: hidden;
}

.app {
    width: 100%;
    max-width: var(--max-page-width);
    margin: 0 auto;
}

h1 {
    font-size: 122px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    @media (max-width: 500px) {
        font-size: 60px;
    }
}
