@import "variables";
@import "reset";

body {
    background: var(--bg-color);
    color: var(--primary-color);
    font-family: "Inter", "Times New Roman", serif;
    overflow-x: hidden;
}

.app {
    width: 100%;
    max-width: var(--max-page-width);
    margin: 0 auto;
}
