.LandingHeader {
    height: var(--header-max-height);
    display: flex;
    justify-content: flex-end;
    margin: 0 24px;
}

.items {
    gap: 24px;
}

.color {
    height: 1000px;
    width: 1000px;
    background-image: radial-gradient(closest-side, rgba(0, 119, 255, 0.11), var(--bg-color));
    position: absolute;
    top: -570px;
    right: 0;
    z-index: -1;
}
