@import "reset";
@import "variables/variables";
@import "themes/light";
@import "themes/dark";

body {
    background: var(--bg-color);
}

.app {
    font: var(--font-m);
    color: var(--primary-color);
    min-height: 100vh;
}

.layout {
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-page-width);
    outline: 1px solid var(--bg-color-secondary);
}
