:root {
    --font-family-main: 'Inter', "Times New Roman", serif;

    --font-size-s: 0.75rem;
    --font-line-s: 1.25rem;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

    --font-size-m: 0.9375rem;
    --font-line-m: 1.4375rem;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    --font-size-l: 1.5rem;
    --font-line-l: 2rem;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // Sizes
    --max-page-width: 1100px;
    --navbar-height: 3rem;
    --sidebar-width: 12rem;
    --sidebar-width-collapsed: 6rem;
    --border-radius: 5px;
    --default-padding: 4px 10px;
    --default-page-padding: 11px;

    // Transitions
    --animation: 0.2s;
    --animation-fast: 0.1s;

    // z-Indexes
    --modal-z-index: 1000;

    // colors
    --accent-color: #8884d8;
    --error-color-light: #ff6565;
    --error-color: #ff3939;
    --overlay-color: rgb(0 0 0 / 45%);
}
