.dashboard {
    padding: var(--default-page-padding);
    padding-top: calc(var(--navbar-height) + 26px);
}

.chart {
    height: 350px;
    border: 1px solid var(--bg-color-secondary);
    border-radius: var(--border-raduis);
    padding: 16px 16px 16px 0;
    margin-bottom: 20px;
}
