.Button {
    padding: var(--default-padding);
    border-radius: var(--border-radius);
    outline: 1px solid var(--bg-color-secondary);
    border: none;
    cursor: pointer;
    min-height: 36px; // TODO create a var
    align-items: center;
    display: inline-flex;
    gap: 4px;
    transition: background-color var(--animation) ease-in-out;

    &:hover {
        background: var(--bg-color-secondary);
    }
}

.rounded {
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    color: var(--primary-color);
}

.outlined {
    color: var(--primary-color);
    background: none;
    padding: var(--default-padding);
    outline: 1px solid var(--bg-color-secondary);
    border: none;
    border-radius: var(--border-radius);
    text-decoration: none;
}

.clear {
    border: none;
    outline: none;
    background: none;
    color: var(--primary-color);
}

.icon {
    img, svg {
        stroke: var(--accent-color);
        color: var(--accent-color);
    }
}
