.Button {

}

.rounded {
    padding: 8px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: var(--primary-color);
}

.outlined {
    color: var(--primary-color);
    background: none;
    padding: 8px;
    outline: 1px solid var(--accent-color);
    border: none;
    border-radius: 16px;
    text-decoration: none;
}
