.InputWrp {
    display: flex;
    flex-direction: column;
}

.Input {
    min-height: 36px; // TODO create a var
    padding: var(--default-padding);
    border: none;
    border-radius: var(--border-raduis);
    outline: 1px solid var(--primary-color);
    background-color: var(--bg-color);

    &:focus {
        outline: 1px solid var(--accent-color);
        background-color: var(--bg-color);
    }
}

.label {
    color: var(--primary-color);
}
