.InputWrp {
    display: flex;
    flex-direction: column;
}

.Input {
    min-height: 36px; // TODO create a var
    padding: var(--default-padding);
    border: none;
    border-radius: var(--border-radius);
    outline: 1px solid var(--bg-color-secondary);
    background-color: var(--bg-color);
    color: var(--primary-color);
    transition: var(--animation) all ease-in-out;

    &:focus {
        outline: 1px solid var(--accent-color);
        background-color: var(--bg-color);
        box-shadow: 0 0 3px var(--accent-color);
    }
}

.label {
    color: var(--primary-color);
}
