.Navbar {
    width: min(var(--max-page-width), 100%);
    padding: var(--default-page-padding);
    outline: 1px solid var(--bg-color-secondary);
    background-color: var(--bg-color);
    position: fixed;
    z-index: 1001;
    top: 0;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
